<a href="https://colab.research.google.com/github/rubengyn/py_upwork_1432900534342651905/blob/main/openpyxl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Resumo:
1. Dividir o nome firstName em dois, o primeiro nome fica no firstname e o restante no lastname
2. na coluna email, se tiver mais que o email, exclua deixando apenas 1
3. Se columna employeecompany, se estiver vazia adicionar o valor da coluna CompanyAlterantive

instalar bibliotecas

importar bibliotecas

In [1]:
from openpyxl import Workbook, load_workbook

abrir arquivo xlsx

In [2]:
planilha = load_workbook('data list.xlsx')

# pega a aba ativa, quando abre
aba_ativa = planilha.active

Inserir *coluna* full name

In [3]:
aba_ativa.insert_cols(2)
planilha.save("data list2.xlsx")

copia os dados da coluna first name para full name

In [4]:
for celula in aba_ativa["C"]:
  linha = celula.row
  if linha == 1:
    aba_ativa['B1'] = 'full name'
  else:
    aba_ativa[f'B{linha}'] = str(aba_ativa[f'C{linha}'].value)

limpar coluna first name

In [5]:
for celula in aba_ativa["C"]:
  linha = celula.row
  if linha >= 1:
    aba_ativa[f'C{linha}'] = ''

adicionar first name and last name

In [6]:
for celula in aba_ativa["B"]:
  
  linha = celula.row
  if linha >= 1:
    name = aba_ativa[f'B{linha}'].value 
    firstName = str(name)
    lastName = ''
    if ' ' in str(name):
      space = name.index(' ')
      firstName = name[0:space]
      lastName = name[space+1:]
    aba_ativa[f'C{linha}'] = firstName
    aba_ativa[f'D{linha}'] = lastName

excluir coluna 2 full name

In [8]:
print(aba_ativa['B1'].value)
aba_ativa.delete_cols(2, 1)
print(aba_ativa['B1'].value)

full name
full

2 etapa pegar pegar columna employeecompany, se estiver vazia adicionar o valor da coluna CompanyAlterantive

In [ ]:
for celula in aba_ativa["E"]:
   
   
   linha = celula.row
   if linha > 1:
    valor = str(aba_ativa[f'E{linha}'].value)
    if valor == 'None':
      aba_ativa[f'E{linha}'] = str(aba_ativa[f'F{linha}'].value)
    else:
      print(valor)

'''
for i in range(0,df['employeecompany'].size):
  value = df['employeecompany'][i]
  if pd.isnull(value):
    df['employeecompany'][i] = df['Company Alternative'][i]
'''

verificação se foi copiado

In [ ]:
for celula in aba_ativa["E"]:
   linha = celula.row
   print(str(aba_ativa[f'E{linha}'].value)+':'+str(aba_ativa[f'F{linha}'].value))

3 etapa eliminar emails repetidos

In [21]:
for celula in aba_ativa["A"]:
  linha = celula.row
  valor = str(aba_ativa[f'A{linha}'].value)
  if valor != 'None':
    if valor.count('@')>1:
      id = valor.index(',')
      valor = valor[0:id]
      aba_ativa[f'A{linha}'] = valor

Salvar planilha

In [22]:
planilha.save("data list2.xlsx")